@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://db.onlinewebfonts.com/c/b9fc3f782250bd4d69702f459b8d997b?family=Faktum+Test+Bold);

@font-face {
  font-family: "Faktum Test Bold";
  src: url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.eot");
  src: url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.eot?#iefix")
      format("embedded-opentype"),
    url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.woff2")
      format("woff2"),
    url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.woff")
      format("woff"),
    url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.ttf")
      format("truetype"),
    url("https://db.onlinewebfonts.com/t/b9fc3f782250bd4d69702f459b8d997b.svg#Faktum Test Bold")
      format("svg");
}

* {
  font-family: "Faktum Test Bold";
}

body {
  @apply bg-zinc-100;
}


.intro-bg {
  background-image: url("../../public/assets/big-bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}